NEXT_PUBLIC_SITE_URL=https://www.engleet.com
NEXT_PUBLIC_SUPABASE_URL=https://nwffjpicmflcugmgiede.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_AUTH_EMAIL_DOMAIN=engleet.com
NEXT_PUBLIC_AUTH_SENDER_EMAIL=noreply@engleet.com
NEXT_PUBLIC_SUPPORT_EMAIL=support@engleet.com

NEWS_API_URL=https://gnews.io/api/v4
NEWS_API_KEY=
GNEWS_LANG=en
GNEWS_COUNTRY=us
GNEWS_MAX_RESULTS=12
